<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bivbonus">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:fullBackupContent="@xml/my_backup_rules">
    </application>
</manifest>
